<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatr | Chat Panel</title>
    <link rel="stylesheet" href="../css/chat.css" />
    <!-- ============================================== -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../images/favicon-16x16.png"
    />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- ============================================== -->
    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>
  </head>
  <body>
    <audio id="sound" src="../sounds/message_received.mp3"></audio>
    <header class="nav">
      <div class="logo">Chatr</div>
      <div class="click-to-copy" id="copyBtn">
        SHARE LINK <i class="bx bx-share-alt"></i>
      </div>
    </header>
    <main id="messageContainer">
      <!-- <div class="message left"></div>
      <div class="message right"></div> -->
    </main>
    <form id="form" action="">
      <input
        placeholder="Start Typing ..."
        id="input"
        autocomplete="off"
      /><button id="sendBtn">Send</button>
    </form>
    <div id="share-modal">
      <div id="close-modal">
        <i class="bx bx-window-close"></i>
      </div>
      <div class="modal-heading">How To Share</div>
      Copy The following link and send it to your friends.
      <p id="modal-link"></p>
    </div>
    <!-- ============================================== -->
    <script>
      let pageUrl = window.location.href;
      document.getElementById("modal-link").innerText = pageUrl;
      let title = "Join the Chat on Chatr";
      //   modal
      let sharemodal = document.getElementById("share-modal");
      let shareBtn = document.getElementById("copyBtn");
      let closeBtn = document.getElementById("close-modal");
      closeBtn.addEventListener("click", () => {
        sharemodal.style.display = "none";
      });
      shareBtn.addEventListener("click", () => {
        if (navigator.share) {
          navigator.share({
            title: `${title}`,
            url: `${pageUrl}`,
          });
        } else {
          sharemodal.style.display = "block";
        }
      });
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
